@import "tailwindcss";


body {
    overflow-y: hidden;
}



 /* .banner {
    background: url(./assets/images/pattern-bg-mobile.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}


@media (min-width: 800px) {
    .banner {
    background: url(./assets/images/pattern-bg-desktop.png);
    background-size:cover;
    background-repeat: no-repeat;
}
}  */